<div class="container-fluid mb-4">
  <div class="border border-dark rounded bg-secondary table-hover pt-1 pb-4">
  <h3 class="text-center font-weight-bold text-uppercase text-white">Ultimos Envios</h3>
  <div class="alert alert-secondary text-center" role="alert" *ngIf="manuStatus === false; else listarUltimos">
    Nenhum Arquivo em Aberto Enviado por Ultimo
  </div>
  <ng-template #listarUltimos>
    <div class=" ">
    <table class="table table-bordered table-sm bg-light ">

      <thead>
        <tr>
          <th scope="col">COD</th>
          <th scope="col">EQUIPAMENTO</th>
          <th scope="col">DATA ENVIO</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ultimos of manu_equip">
          <td class="font-weight-normal"> {{ ultimos.id }} </td>
          <td class="font-weight-normal">{{ ultimos.nome }} </td>
          <td class="font-weight-normal"> {{ ultimos.data_envio | date: 'd/M/yyyy' }} </td>
        </tr>
      </tbody>
    </table>
  </div>
  </ng-template>
</div>
<div class="border border-dark rounded bg-secondary table-hover pt-1 pb-4 mt-4 ">
  <h3 class="text-center font-weight-bold text-uppercase text-white">Aguardando Avaliação</h3>
  <div class="alert alert-secondary text-center" role="alert" *ngIf="avaliStatus === false; else listarAvaliacao">
    Nenhuma Manutenção Aguardando Avaliação
  </div>
  <ng-template #listarAvaliacao>
    <table class="table table-bordered table-sm bg-light">

      <thead>
        <tr>
          <th scope="col">COD</th>
          <th scope="col">EQUIPAMENTO</th>
          <th scope="col">DATA ENVIO</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let avali of avaliacao">
          <td> {{ avali.id }} </td>
          <td> {{ avali.nome }} </td>
          <td> {{ avali.data_envio | date: 'd/M/yyyy' }} </td>
        </tr>
      </tbody>
    </table>
  </ng-template>
</div>
<div class="border border-dark rounded bg-secondary table-hover pt-1 pb-4 mt-4">
  <h3 class="text-center font-weight-bold text-uppercase text-white">Aguardando Liberação</h3>
  <div class="alert alert-secondary text-center" role="alert" *ngIf="abertoStatus === false; else listarLiberado">
    Nenhuma Manutenção Aguardando Liberação
  </div>
  <ng-template #listarLiberado>
  <table class="table table-bordered table-sm bg-light">

    <thead>
      <tr>
        <th scope="col">COD</th>
        <th scope="col">EQUIPAMENTO</th>
        <th scope="col">DATA ENVIO</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let aberto of aberto">
        <td> {{ aberto.id }} </td>
        <td> {{ aberto.nome }} </td>
        <td> {{ aberto.data_envio | date: 'd/M/yyyy' }} </td>
      </tr>
    </tbody>
  </table>
</ng-template>
</div>
</div>
