<nav class="navbar navbar-expand-md navbar-dark bg-primary mb-4">
  <a class="navbar-brand text-uppercase text-white" routerLink="/usuario" href="#" >Inicio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          EQUIPAMENTOS
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" routerLink="nova-requisicao">NOVA REQUISIÇÃO</a>
          <a class="dropdown-item" href="#">REQUISIÇÕES LIBERADAS</a>
          <a class="dropdown-item" href="#" routerLink="requsicao-espera">REQUISIÇÕES EM ESPERA</a>
          <a class="dropdown-item" href="#">TODAS REQUISIÇÕES</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">REQUISIÇÕES NEGADAS</a>
        </div>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          PENDÊNCIAS
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">PENDÊNCIAS ATUAIS</a>
          <a class="dropdown-item" href="#">PENDÊNCIAS ATRASADAS</a>
          <a class="dropdown-item" href="#">PENDÊNCIAS CONCLUIDAS</a>
        </div>
      </li>
    </ul>
    <div class="form-inline text-white">
      <button class="btn btn-light text-uppercase" (click)="sair()">SAIR</button>
    </div>
</div>
</nav>

