<div class="border border-dark rounded bg-secondary table-hover pt-1 pb-4 mt-1 mb-2">
  <h3 class="text-center font-weight-bold text-uppercase text-white mt-2">ALTERAR SAFRA</h3>
<form [formGroup]="mudar_safra" class="bg-white">
  <div class="m-4 pt-1 pb-2 ">
  <div class="form-row">
    <div class="form-group col-md-12">
      <label >SAFRA ATUAL</label>
      <input class="form-control" formControlName="safra">
    </div>
  </div>
  <div class="form-row mt-2">
    <div class="col-md-4 text-center">
      <button type="submit" class="btn btn-primary btn-lg btn-block"  (click)="modificar()" [disabled]="validarModificar">MODIFICAR</button>
    </div>
    <div class="col-md-4 text-center">
      <button type="submit" class="btn btn-success btn-lg btn-block"  (click)="alterar()">ALTERAR</button>
    </div>
    <div class="col-md-4 text-center">
      <button type="submit" class="btn btn-danger btn-lg btn-block"  (click)="cancelar()">CANCELAR</button>
    </div>
  </div>
</div>
</form>
</div>
