<div class="container">
    <form [formGroup]="formFuncao" class="mb-3" *ngIf="inserir === true">
        <div class="form-group">
          <label >Nova Função</label>
          <input class="form-control" autofocus formControlName="funcao">
        </div>
        <button type="submit" [disabled]="!formFuncao.valid" (click)="inserirFuncao()" class="btn btn-primary">Inserir</button>
    </form>
    <form [formGroup]="formFuncaoEditar" class="mb-3" *ngIf="editarFunc === true">
        <div class="form-group">
          <label >Editar Função</label>
          <input class="form-control" autofocus formControlName="funcao">
        </div>
        <button type="submit" [disabled]="!formFuncaoEditar.valid" (click)="editarFuncao()" class="btn btn-primary">Editar</button>
    </form>
    <div>
      <button class="btn btn-info" (click)="validInserir()">Inserir</button>
    </div>
    <div class="alert alert-success mt-2" role="alert" *ngIf="insertSuccess === true">
      Função inserida com sucesso
    </div>
    <div class="alert alert-success mt-2" role="alert" *ngIf="deleteSuccess === true">
        Função deletada com sucesso
    </div>
    <div class="alert alert-success mt-2" role="alert" *ngIf="updateSuccess === true">
      Função editada com sucesso
    </div>
    <table class="table table-bordered bg-info">
        <thead>
          <tr>
            <th scope="col">Função</th>
            <th scope="col" class="text-center">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let funcao of funcoes">
            <td> {{ funcao.funcao }} </td>
            <td> <div class="text-center">
              <button class="btn btn-primary mr-1" (click)="editar(funcao)">Editar</button>
              <button class="btn btn-danger ml-1" (click)="deletar(funcao.id)">Deletar</button>
            </div>
            </td>
          </tr>
        </tbody>
      </table>
</div>
