<nav class="navbar navbar-expand-md navbar-dark bg-danger mb-4">
  <a class="navbar-brand" routerLink="/manutencao">Inicio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="novas === true">
        <a class="nav-link text-white" href="#" routerLink="novas" >Novas <span class="badge badge-light"> {{ this.realTime.getManuNovas() }} </span></a>
      </li>
      <li class="nav-item" *ngIf="andamento === true">
        <a class="nav-link text-white" href="#" routerLink="andamento"  >Em Andamento <span class="badge badge-light"> {{ this.realTime.getManuAndamento() }} </span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#" routerLink="finalizadas">Finalizadas</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link text-white" href="#" routerLink="todas" >Todas <span class="badge badge-light"></span></a>
      </li>
    </ul>
    <div class="form-inline text-white">
      <button class="btn btn-light" (click)="sair()">SAIR</button>
    </div>
  </div>
</nav>
