<div class="container-fluid">
  <form [formGroup]="formEquipamento" class="mb-3" *ngIf="inserir === true">
      <button type="button" class="close" aria-label="Close" (click)="fecharForm()">
          <span aria-hidden="true">&times;</span>
        </button>
      <div class="form-group">
        <label >Novo Equipamento</label>
        <input class="form-control" autofocus formControlName="equipamento">
      </div>
      <button type="submit" [disabled]="!formEquipamento.valid" class="btn btn-primary" (click)=" inserirEquipamento()">Inserir</button>
  </form>
  <form [formGroup]="formEquipEditar" class="mb-3" *ngIf="editarEquip === true">
      <button type="button" class="close" aria-label="Close" (click)="fecharForm()">
          <span aria-hidden="true">&times;</span>
        </button>
      <div class="form-group">
        <label >Editar Equipamento</label>
        <input class="form-control" autofocus formControlName="equipamento">
      </div>
      <button type="submit" [disabled]="!formEquipEditar.valid" class="btn btn-primary" (click)="updateEquip()">Editar</button>
  </form>
  <form [formGroup]="formManutencao" *ngIf="manutencao === true">
    <div class="form-group">
      <input class="form-control" formControlName="equipamento" readonly>
      <textarea class="form-control mt-2" autofocus formControlName="descricao" rows="3"></textarea>
      <div class="text-center m-2">
        <span class="text-danger">Enviar o equipamento para a manutenção?</span>
      </div>
      <div class="text-center">
          <button class="btn btn-info mr-1" [disabled]="!formManutencao.valid" (click)="enviarEquipamento()">Enviar</button>
          <button class="btn btn-danger" (click)="cancelarEnvio()">Cancelar</button>
      </div>
    </div>
  </form>


  <div class="row mb-2">
    <div class="col-md-3">
        <button class="btn btn-info btn-lg btn-block" (click)="validInserir()">NOVO</button>
    </div>
    <div class="col-md-3">
        <button class="btn btn-info btn-lg btn-block" (click)="listarTodos()">LISTAR</button>
    </div>
    <div class="col-md-3">
        <button class="btn btn-info btn-lg btn-block" (click)="listarAlugados()">ALUGADOS</button>
    </div>
    <div class="col-md-3">
        <button class="btn btn-info btn-lg btn-block" (click)="listarTodos()">FINALIZADOS</button>
    </div>
  </div>
  <div class="alert alert-success mt-2" role="alert" *ngIf="insertSuccess === true">
    Equipamento inserido com sucesso
  </div>
  <div class="alert alert-success mt-2" role="alert" *ngIf="updateSuccess === true">
    Equipamento editado com sucesso
  </div>
  <div class="alert alert-success mt-2" role="alert" *ngIf="manuEquipSuccess === true">
      Equipamento enviado para manutenção
    </div>
  <div [ngClass]="{
    'd-none': listar} ">
  <div class="border border-dark rounded bg-secondary table-hover pt-1 pb-4  mb-4">
    <h3 class="text-center font-weight-bold text-uppercase text-white">EQUIPAMENTOS</h3>
  <table class="table table-bordered table-sm bg-light">
      <thead>
        <tr>
          <th scope="col">Equipamento</th>
          <th scope="col" class="text-center">Ações</th>
          <th scope="col" class="text-center">Condição</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let equipamentos of equipamentos">
          <td> {{ equipamentos.nome }} </td>
          <td> <div class="text-center">
            <button class="btn btn-primary m-1 btn-sm" (click)="editar(equipamentos)" [disabled]="equipamentos.status != 'LIVRE' ">Editar</button>
            <button class="btn btn-danger m-1 btn-sm" (click)="enviarManutencao(equipamentos)" [disabled]="equipamentos.status != 'LIVRE' ">Manutenção</button>
          </div>
          </td>
          <td [ngClass]="{'text-center': true,
          'bg-success' : condicaoEquipamentoVal(equipamentos),
          'bg-danger': condicaoEquipamentoErr(equipamentos),
          'bg-warning': condicaoEquipamentoOcu(equipamentos)}">
            <div class="text-center font-weight-bold text-uppercase text-white">
                {{ equipamentos.status }}
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>

  <div [ngClass]="{
    'd-none': alugado} ">
  <div class="border border-dark rounded bg-secondary table-hover pt-1 pb-4  mb-4">
    <h3 class="text-center font-weight-bold text-uppercase text-white">EQUIPAMENTOS ALUGADOS</h3>
  <table class="table table-bordered table-sm bg-light">
      <thead>
        <tr>
          <th scope="col">Equipamento</th>
          <th scope="col" class="text-center">Ações</th>
          <th scope="col" class="text-center">Condição</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let equipamentos of equipamentosAlugados">
          <td> {{ equipamentos.nome }} </td>
          <td> <div class="text-center">
            <button class="btn btn-primary m-1 btn-sm" (click)="editar(equipamentos)" [disabled]="equipamentos.status != 'LIVRE' ">Editar</button>
            <button class="btn btn-danger m-1 btn-sm" (click)="enviarManutencao(equipamentos)" [disabled]="equipamentos.status != 'LIVRE' ">Manutenção</button>
          </div>
          </td>
          <td [ngClass]="{'text-center': true,
          'bg-success' : condicaoEquipamentoVal(equipamentos),
          'bg-danger': condicaoEquipamentoErr(equipamentos),
          'bg-warning': condicaoEquipamentoOcu(equipamentos)}">
            <div class="text-center font-weight-bold text-uppercase text-white">
                {{ equipamentos.status }}
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>

